<div class="page">
  <a class="back-link" routerLink="/login">
    <span class="arrow">←</span> Volver al inicio
  </a>

  <div class="card">
    <div class="logo-wrap">
      <img
        src="https://res.cloudinary.com/dgaxlowpd/image/upload/v1765764539/logoParchaFace_fzz8sh.png"
        alt="ParchaFace"
      />
    </div>

    <h1>Nueva contraseña</h1>
    <p class="subtitle">Crea una contraseña nueva para tu cuenta.</p>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="field">
        <label>Nueva contraseña</label>

        <div class="input-wrap">
          <input
            [type]="showNew ? 'text' : 'password'"
            formControlName="nuevaContrasena"
            placeholder="Nueva contraseña"
          />
          <button type="button" class="toggle" (click)="toggleNew()">
            {{ showNew ? 'Ocultar' : 'Mostrar' }}
          </button>
        </div>

        <small class="hint error" *ngIf="nuevaContrasena?.touched && nuevaContrasena?.invalid">
          <span *ngIf="nuevaContrasena?.errors?.['required']">La contraseña es obligatoria.</span>
          <span *ngIf="nuevaContrasena?.errors?.['minlength']">Mínimo 6 caracteres.</span>
        </small>
      </div>

      <div class="field">
        <label>Confirmar contraseña</label>

        <div class="input-wrap">
          <input
            [type]="showConfirm ? 'text' : 'password'"
            formControlName="confirmarContrasena"
            placeholder="Confirmar contraseña"
          />
          <button type="button" class="toggle" (click)="toggleConfirm()">
            {{ showConfirm ? 'Ocultar' : 'Mostrar' }}
          </button>
        </div>

        <small class="hint error">
          @if (confirmarContrasena?.touched && confirmarContrasena?.errors?.['required']) {
            <span>Debes confirmar la contraseña.</span>
          }
        </small>
      </div>

      @if (msg) {
        <div class="alert ok">{{ msg }}</div>
      }
      @if (error) {
        <div class="alert err">{{ error }}</div>
      }

      <button class="btn" type="submit" [disabled]="loading">
        {{ loading ? 'Guardando...' : 'Continuar' }}
      </button>

      <div class="bottom-links">
        <a routerLink="/forgot-password">Volver a enviar correo</a>
        <span class="dot">•</span>
        <a routerLink="/verify-code">Volver a código</a>
      </div>
    </form>
  </div>
</div>